---
import JavaIcon from '../assets/icons/JavaIcon.astro';
import CSSIcon from '../assets/icons/CSSIcon.astro';
import Link from "../assets/icons/Link.astro";
import LinkButton from "./LinkButton.astro"
import GitHub from "../assets/icons/GitHubIcon.astro"
import IonicIcon from "../assets/icons/IonicIcon.astro"
import AngularIcon from "../assets/icons/AngularIcon.astro"
import FirebaseIcon from "../assets/icons/FirebaseIcon.astro"
import HtmlIcon from "../assets/icons/HtmlIcon.astro"
import PHPIcon from "../assets/icons/PHPIcon.astro"
import TailwindIcon from "../assets/icons/TailwindIcon.astro"
import JavaScriptIcon from "../assets/icons/JavaScriptIcon.astro"
import SassIcon from "../assets/icons/SassIcon.astro"

const TAGS = {
    JAVA: {
        name: "Java",
        class: "bg-[#243b49] text-white",
        icon: JavaIcon,
    },

    CSS: {
        name: "CSS",
        class: "bg-[#1572b7] text-white",
        icon: CSSIcon,
    },

    JAVAFX: {
        name: "JavaFX",
        class: "bg-[#243b49] text-white",
        icon: JavaIcon,
    },

    IONIC: {
        name: "IONIC",
        class: "bg-[#176bff] text-white",
        icon: IonicIcon,
    },

    ANGULAR: {
        name: "Angular",
        class: "bg-[#5b16aa] text-white",
        icon: AngularIcon,
    },

    FIREBASE: {
        name: "Firebase",
        class: "bg-[#6b1401] text-white",
        icon: FirebaseIcon,
    },

    HTML: {
        name: "HTML",
        class: "bg-[#6d2813] text-white",
        icon: HtmlIcon,
    },

    PHP: {
        name: "PHP",
        class: "bg-[#535972] text-white",
        icon: PHPIcon,
    },

    TAILWINDCSS: {
        name: "TailwindCSS",
        class: "bg-[#12687a] text-white",
        icon: TailwindIcon,
    },

    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#685f22] text-white",
        icon: JavaScriptIcon,
    },

    SASS: {
        name: "Sass",
        class: "bg-[#703452] text-white",
        icon: SassIcon,
    },

}
const PROJECTS = [
    {
        title: "Portal Carnes Covap",
        description: "Refactorización del frontend, añadiendo soporte multiidioma " +
            "y mejoras en la integración de APIs.",
        link: "https://www.carnescovap.com/",
        image: "/projects/CarnesCovap.webp",
        tags: [TAGS.PHP, TAGS.SASS, TAGS.JAVASCRIPT],
    },

    {
        title: "Portal Làctia",
        description: "Migración de WordPress a una nueva plataforma, con rediseño completo del frontend y soporte multiidioma.",
        link: "https://lactia.cat/es/",
        image: "/projects/Lactia.webp",
        tags: [TAGS.PHP, TAGS.SASS, TAGS.JAVASCRIPT],
    },


    {
        title: "Transly App",
        description: "PWA para consultar tarifas de trenes. Búsqueda de billetes y visualización de precios.",
        github: "https://github.com/JavviFdeez/translyapp.git",
        image: "/projects/Transly.webp",
        tags: [TAGS.IONIC, TAGS.ANGULAR, TAGS.FIREBASE],
    },

    {
        title: "CV Generator",
        description: "Aplicación para crear y personalizar currículums. "
            + "Exportación a PDF incluida.",
        github: "https://github.com/JavviFdeez/CVGenerator.git",
        image: "/projects/CVGenerator.webp",
        tags: [TAGS.JAVA, TAGS.CSS, TAGS.JAVAFX],
    },
]

---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({image, title, description, tags, link, github}) => (
                <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                    <div class="w-full md:w-1/2">
                        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out group-hover:scale-105 hover: transform shadow-xl overflow-clip rounded-xl sm:rounded-xl group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                            <a href={link || github} target="_blank" rel="noopener noreferrer">
                                <img alt="" class="" loading="lazy" src={image}/>
                            </a>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 md:max-w-lg">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>
                        <div class="flex flex-wrap mt-2">
                            <ul class="flex flex-row mb-2 gap-x-2">
                                {tags.map((tag) => (
                                        <li>
                                    <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                        <tag.icon class="size-4"/>
                                        {tag.name}
                                    </span>
                                        </li>
                                ))}
                            </ul>

                            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {github && (
                                        <LinkButton href={github}>
                                            <GitHub class="size-6"/>
                                            Code
                                        </LinkButton>
                                )}
                                {link && (
                                        <LinkButton href={link}>
                                            <Link class="size-4"/>
                                            Preview
                                        </LinkButton>
                                )}
                            </footer>
                        </div>
                    </div>
                </article>
        ))
    }
</div>
