---
import JavaIcon from '../assets/icons/JavaIcon.astro';
import CSSIcon from '../assets/icons/CSSIcon.astro';
import Link from "../assets/icons/Link.astro";
import LinkButton from "./LinkButton.astro"
import GitHub from "../assets/icons/GitHubIcon.astro"

const TAGS = {
    JAVA: {
        name: "Java",
        class: "bg-[#3d1c00] text-white",
        icon: JavaIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#1572b7] text-white",
        icon: CSSIcon,
    },
    JAVAFX: {
        name: "JavaFX",
        class: "bg-[#3d1c00] text-white",
        icon: JavaIcon,
    }

}
const PROJECTS = [
    {
        title: "Portal Carnes Covap",
        description: "Refactorización del frontend, añadiendo soporte multiidioma " +
            "y mejoras en la integración de APIs para optimizar la experiencia de usuario.",
        link: "https://www.carnescovap.com/",
        image: "/projects/CarnesCovap.webp",
        tags: [],
    },

    {
        title: "Portal Làctia",
        description: "Migración de WordPress a una nueva plataforma, con rediseño completo del frontend y soporte multiidioma.",
        link: "https://lactia.cat/es/",
        image: "/projects/Lactia.webp",
        tags: [],
    },

    {
        title: "CV Generator",
        description: "Aplicación de escritorio para crear y personalizar currículums. " +
            "Desarrollada con Java, JavaFX y CSS, permite modificar plantillas, colores y agregar fotos. " +
            "Exportación a PDF incluida.",
        github: "https://github.com/JavviFdeez/CVGenerator.git",
        image: "/projects/CVGenerator.webp",
        tags: [TAGS.JAVA, TAGS.CSS, TAGS.JAVAFX],
    },

]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
                <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                    <div class="w-full md:w-1/2">
                        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                            <img alt="" class="" loading="lazy" src={image} />
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 md:max-w-lg">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>
                        <div class="flex flex-wrap mt-2">
                            <ul class="flex flex-row mb-2 gap-x-2">
                                {tags.map((tag) => (
                                        <li>
              <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                  {tag.name}
              </span>
                                        </li>
                                ))}
                            </ul>

                            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {github && (
                                        <LinkButton href={github}>
                                            <GitHub class="size-6" />
                                            Code

                                        </LinkButton>
                                )}
                                {link && (
                                        <LinkButton href={link}>
                                            <Link class="size-4" />
                                            Preview
                                        </LinkButton>
                                )}
                            </footer>
                        </div>
                    </div>
                </article>
        ))
    }
</div>

        /*
         TRANSLY , CV , ALONE IN THE DARK, CALCULADORA DE PRESUPUESTO MENSUAL, MiniDBApp
         */

